        <footer id="footer">
            <h3>Retrouvez moi</h3>
            <hr><hr>
            <ul class="reseaux">
                <li><a href="https://github.com/djaafarcode" title="Mes projets">Github</a></li>
                <li><a href="https://www.linkedin.com/in/djaafar-boumaza-84a867146/" title="Retrouvez mon profil Linkedin">Linkedin</a></li>
                <li><a href="https://www.simplonlyon.fr/promo3/dboumaza/" title="ePortfolio">Portfolio</a></li>
                <li><a href="https://plus.google.com/102441240849299749508" title="Retrouvez moi sur Google">Google+</a></li>
                <li><a href="https://twitter.com/djaafarcode?lang=fr" title="Suivez moi Twiiter">Twitter</a></li>
                <li><a href="mailto:code-db_@outlook.fr" title="Contact">Mail</a></li>
            </ul>
        </footer>
