{% extends "::base.html.twig" %}

{%  block body %}
    <section class="container-fluid header">
        {% include ':twig:header.html.twig' %}
    </section>
    <section class="container center">
        <section class="menu">
            {% include ':twig:menu.html.twig' %}
        </section>
        <section class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi architecto asperiores atque aut autem consectetur consequatur deserunt dolorem ducimus error fugit illo, impedit libero magnam magni obcaecati officia omnis praesentium quam quas qui quibusdam quidem quis saepe sapiente sequi soluta suscipit veniam vero. Ad aliquam aliquid amet aperiam aspernatur assumenda atque corporis dicta dolor doloribus eius eos esse expedita facere facilis fugit, inventore laudantium nisi officia omnis perferendis quas quidem quod reprehenderit rerum sapiente suscipit totam, unde vitae voluptatem. Accusantium alias beatae consectetur consequuntur cupiditate, delectus, deserunt dolor dolorum ex, expedita fuga fugit hic impedit magnam maiores numquam obcaecati odit pariatur praesentium ratione sapiente sint unde vero vitae voluptates! Aliquid commodi dicta esse labore molestias! Aliquam asperiores beatae culpa deleniti dolorem dolores eaque eveniet expedita, fugiat ipsa ipsam labore laboriosam, minima modi molestiae necessitatibus numquam obcaecati perspiciatis possimus provident quae quibusdam quis quo quos repellat, similique sint suscipit voluptates voluptatibus voluptatum? Amet, animi aperiam deleniti, doloremque dolorum eaque earum illo ipsam labore maxime modi natus nulla numquam obcaecati quaerat quasi quibusdam, ut! Culpa fugiat impedit maiores recusandae tempore. Dicta nihil quos repudiandae sequi, temporibus unde! A alias deserunt et fuga iste iure iusto numquam, praesentium, quasi quis quos tempore!</p>
            {% block content %}

            {% endblock %}
        </section>
    </section>

    <section class="container-fluid footer">
        {% include ':twig:footer.html.twig' %}
    </section>
{% endblock %}