
        <ul>
            <li><a href="http://127.0.0.1:8000/index" title="Revenir a l'accueil">Accueil</a></li>
            <li><a href="http://symfony.com/doc/current/templating.html" title="Documentation">Documentation Symfony</a></li>
            <li><a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony/symfony-un-framework-php" title="Retrouvez le cours Symfony">Cours</a></li>
            <li><a href="https://github.com/Alexandre-Peyron/symfony-training-course/blob/master/exercises-basic/02-exercise-twig.md" title="Alexandre Peyron">Cours & Exercice Github d'Alexandre Peyron</a></li>
            <li><a href="https://www.simplonlyon.fr/promo3/dboumaza/" title="Retrouvez moi">Contact</a></li>
        </ul>

